################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj
/CPSC530-Group-1-Project.sln
/CPSC530-Group-1-Project.csproj
/bin
/.vs
